<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Micah's HomePage 首页</title>

    <!-- 标题logo -->
    <link rel="icon" href="img/IronMan-radius.png" type="image/x-icon"/>


</head>
<body>
    
    <img src="../static/img/IronMan-radius.png" alt="">
    <img src="/static/img/IronMan.JPG" alt="">
    <img src="static/img/IronMan.JPG" alt="">
    <img src="/img/IronMan.JPG" alt="">
    <img src="img/IronMan.JPG" alt="">
    <img src="IronMan.JPG" alt="">


    <p>Game Over!</p>
    <!-- 一般情况下把js文件放在最后 -->
    <script src="../static/js/main.js"></script>
</body>
</html>