body{
    /* background-color:black; */
    margin:0px;
}

.head {
    background-color:#e3e4e5;
    height:31px;
}

.w {
    width:1200px;
    height:31px;
    margin:0 auto;
}

.head-part1 {
    width: 250px;
    text-align: right;
    /* background-color:#1c73c438; */
    padding:4px 0px;
    float:left;
}

.head-text-r {
    font-size: x-small;
    color:gray;
}

.head-text-r:hover {
    cursor: pointer;
    color:red;
}

.head-part2{
    /* background-color:#1c73c438; */
    /* padding:4px 0px; */
    /* padding-left: 400px; */
    float:right;
}

.head-part2 ul{
    /* width:800px; */
    list-style-type: none;
    /* margin:3px 0px; */
    text-align: right;
    font-size: 0px;
}

.head-part2 ul li{
    margin:0px;
    padding:6px 0px;
    display:inline-block;
}

.head-text {
    margin:0px 5px;
    padding:0px 16px;
    font-size: x-small;
    color:gray;
}

.head-downlist {    
    border-width:1px;
    border-style: solid;
    border-color: #e3e4e5;
}

.head-downlist:hover {
    color:red;
    cursor: pointer;
    border-color:rgb(202, 202, 202);
}

.head-downlist:hover .head-submenu{
    visibility: visible;
}

.head-text-login {
    margin:6px 0px;
    font-size: x-small;
    color:gray;
    text-align:center;
}

.head-text-login:hover {
    color:red;
    cursor: pointer;
}

.spacer {
    width:2px;
    margin:0px;
    padding:0px;
    background-color: #ccc;
    overflow: hidden;
    cursor:pointer;
}

.head-submenu {
    margin-top:5px;
    width:160px;
    text-align:left;
    position: absolute;
    border-style:solid;
    border-width: 1px;
    border-color:rgb(202, 202, 202);
    visibility: hidden;
}

/* .head-downlist:hover {
    border-width:1px;
    background-color: white;
    border-bottom-color: white;
    border-color:rgb(202, 202, 202);
    border-style: solid;
} */

.head-subtext{
    float:left;
    padding:8px 16px;
    font-size: x-small;
    color:gray;
}

.head-subtext a{
    color:gray;
    text-decoration: none;
}
/* .head-subtext a:hover{
    color:red;
} */