body{
    /* background-color:black; */
    margin:0px;
}

.head {
    background-color:#e3e4e5;
    height:31px;
}

.w {
    width:1200px;
    height:31px;
    margin:0 auto;
}

.head-part1 {
    width: 250px;
    text-align: right;
    float:left;
    font-size: x-small;
    padding:7px 0px;
}

.head-text-right {
    color:gray;
}

.head-part2 {
    float:right;
    font-size: x-small;
}

.head-ul{
    list-style-type: none;
    margin:0px;
}

.head-ul-li {
    margin:0px;
    padding:0px;
    display: inline-block;
}

.head-ul-li div{
    margin:0px;
    padding:0px 10px;
    line-height:31px;
}

.head-ul-li div:hover .menu{
    visibility: visible;
}

.head-ul-li div div{    
    border-width: 1px;
    border-style: solid;
    border-color:#106ac5;
    line-height:29px;
}

.head-link {
    color:gray;
    text-decoration:none;
}

.head-link:hover {
    color:red;
    text-decoration:none;
}

.menu {
    position: absolute;
    visibility: hidden;
}