body {
    background-color: rgb(43, 43, 43);
    /* background-color: white; */
    color:white;
    margin:0px;
}

.nav {
    border-style: solid;
    border-width: 2px;
    border-color: chocolate;
    color:white;
    font-size: 0px;
}

.list-btn {
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    padding:20px;
}

.list-btn-right {
    float:right;
    margin:0px 20px;
}

.list-btn:hover {
    background-color: chocolate;
    color:black;
    cursor: pointer;
    box-shadow: 2px;
}

#main {
    margin:0px 0px;

    padding: 14px;
}

#form1 {
    margin:0px 0px;
    border-style: solid;
    border-color: chocolate;
    border-width:1px;
    width:956px;
    /* margin:0px auto; */
    display: inline-block;
    /* text-align: center; */
}

#form2 {
    margin:0px 0px;
    border-style: solid;
    border-color: chocolate;
    width:956px;
    border-width:1px;
    /* margin:0px auto; */
    display: inline-block;
    /* text-align: center; */
}