body {
    background-color: rgb(43, 43, 43);
    /* background-color: white; */
    color:white;
    margin:0px;
}

.nav {
    border-style: solid;
    border-width: 2px;
    border-color: chocolate;
    color:white;
    font-size: 0px;
}

.list-btn {
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    padding:20px;
}

.list-btn-right {
    float:right;
    margin:0px 20px;
}

.list-btn:hover {
    background-color: chocolate;
    color:black;
    cursor: pointer;
    box-shadow: 2px;
}


#myGuidePics{
    width:500px;
    height:100px;
    border-style: solid;
    border-color: chocolate;
    border-width:1px;
    margin:0px auto;
    background-color: rgb(42, 71, 165);
    /* position: relative;    */
}

#z1 {
    z-index:2;
    position: relative;   
    background-color: rgb(67, 224, 28)
}

#z2{
    position: absolute;
    margin:-10px;
    background-color: rgb(185, 87, 87)
}


.backgrond {
    background-color: rgb(231, 141, 22);
    border-style:solid;
    border-width: 1px;
    width:500px;
    height:50px;
    border-color:rgb(38, 187, 63);
}

#head-downlist{
    background-color: rgb(42, 71, 165);
    position: relative;
}

#head-text {
    margin:0px 0px;
    padding:6px 16px;
    font-size: x-small;
    color:gray;
    width:20px;
    z-index:2;
    position: relative;   
    background-color: rgb(67, 224, 28)
}

#head-submenu {
    margin:-12px -10px;
    /* width:160px; */
    border-style:solid;
    border-width: 1px;
    border-color:rgb(38, 187, 63);
    z-index: 1;
    position: absolute;
    background-color: rgb(185, 87, 87)
}

.d1{
    width:800px;
    height:100px;
    background-color: rgb(185, 87, 87);
    margin:0px;
    padding:0px;
    /* position: fixed; */
    /* padding:10px 0px; */

}

.d2 {
    /* margin:5px; */
    text-align: center;
    /* width:100px; */
    border-style:solid;
    border-width: 1px;
    padding:10px;
    border-color:rgb(38, 187, 63);
    background-color: rgb(124, 87, 185);
    line-height:78px;
    /* position: fixed; */
}