body{
    /* background-color:black; */
    margin:0px;
}

.head {
    background-color:#e3e4e5;
    height:31px;
}

.w {
    width:1200px;
    height:31px;
    margin:0 auto;
}

.head-part1 {
    width: 250px;
    text-align: right;
    float:left;
    font-size: x-small;
    padding:7px 0px;
}

.head-text-right {
    color:gray;
}

.head-part2 {
    float:right;
    font-size: x-small;
}

.head-ul{
    list-style-type: none;
    margin:0px;
}

.head-ul-li {
    margin:0px;
    padding:0px;
    display: inline-block;
    line-height: 31px;

}

.head-ul-li div{
    margin:0px;
    padding:0px;
}

.head-link {
    color:gray;
    text-decoration:none;
    padding:0px 10px;
    display: inline-block;
    border-width:1px;
    line-height: 29px;
    border-color: #e3e4e5;
    border-style: solid;
}

.downlist-btn {
    position: relative;
    z-index: 2;
}

.downlist-btn:hover {
    background-color: white;
    border-bottom-color:white;
}

.head-link:hover {
    color:red;
    text-decoration:none;
}

.downlist:hover {    
    border-color: #ccc;
    background-color: white;
    border-bottom-color:white;
}

.downlist:hover .menu{
    visibility: visible;
}    

.downlist:hover .downlist-btn{    
    border-color: #ccc;
    background-color: white;
    border-bottom-color:white;
}

.downlist {
    margin:0px;
    padding:0px;
}

.menu {
    position: absolute;
    width:300px;
    border-width:1px;
    border-color: #ccc;
    border-style: solid;
    top:30px;
    z-index:1;
    visibility: hidden;
}