body {
    background-color: rgb(221, 222, 231);
    /* background-color: white; */
    color:rgb(53, 53, 53);
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

a {
    color:rgb(236, 243, 134);
    text-decoration:none;
}


a:link {color:rgb(177, 177, 177);}      /* 未访问链接*/ 
a:visited {color:rgb(125, 230, 125);}  /* 访问过的链接 */ 
a:hover {color:rgb(243, 177, 177);}  /* 鼠标指上去的链接 */ 
a:active {color:#0000FF;}  /* 已激活的链接 */

#father{
    width:200px;
    height:120px;
    background-color: rgb(57, 197, 21);
    text-align:center;
}

#son{
    width:100px;
    height:50px;
    margin:0 auto;  /*水平居中*/
    position: relative;
    top:50%;
    transform: translateY(-50%);
    
    background-color: rgb(87, 47, 231)
}