body {
    background-color: rgb(69, 72, 109);
    /* background-color: white; */
    color:white;
    margin:0px;
}

a {
    color:rgb(236, 243, 134);
    text-decoration:none;
}


a:link {color:rgb(177, 177, 177);}      /* 未访问链接*/ 
a:visited {color:rgb(125, 230, 125);}  /* 访问过的链接 */ 
a:hover {color:rgb(243, 177, 177);}  /* 鼠标指上去的链接 */ 
a:active {color:#0000FF;}  /* 已激活的链接 */

hr{
    clear:left; /*取消浮动 */
}
div>p 
{
    color:yellow;
}

h1,h2,h3,h4,h5,h6 {
    float:left;
}


#myul {
    list-style-type:none;
    outline-style: solid;
    outline-color: aquamarine;
    outline-width: 50px;
    /* color: aqua; */
    /* border:20px; */
    border-style:dashed;
    border-width: 40px;
    border-color:rgb(197, 99, 99);
    padding: 100px;
    /* width:800px; */
    margin:50px;
    
    
       
}