body {
    background-color: rgb(69, 72, 109);
    /* background-color: white; */
    color:white;
    margin:0px;
}

a {
    color:rgb(236, 243, 134);
    text-decoration:none;
}


a:link {color:rgb(177, 177, 177);}      /* 未访问链接*/ 
a:visited {color:rgb(125, 230, 125);}  /* 访问过的链接 */ 
a:hover {color:rgb(243, 177, 177);}  /* 鼠标指上去的链接 */ 
a:active {color:#0000FF;}  /* 已激活的链接 */

h1{
    float:left;
}

#myul {
    list-style-type:none;
    color: aqua;
    border:2px;
    border-style:solid;
    border-color:rgb(231, 82, 82);
    padding: 5px;
    margin:0px 100px 0px 100px;
    /* width:250px;     */
}