body {

    /* 背景颜色 */
    background-color: rgb(70, 71, 94);

    /* 字体颜色 */
    color:rgb(224, 224, 224);

    /* 背景图片 记住需要用url才能使用路径 */
    /* background-image: url("../img/IronMan-radius.png"); */


    margin:0px;
    padding:0px;
    widows: 0%;
    height:0%;
}

#myTitle {
    width:15cm;
    border:3px solid rgb(150, 119, 85);
}

.big-color
{
    color:rgb(46, 110, 131);
}

[href="http://www.163.com"]{
    color:red;
}

.Test002 {
    color:rgb(30, 131, 92);
    background-color: brown;
}

.Test003 
{
    color:red;
}
