body {

    /* 背景颜色 */
    background-color: rgb(162, 164, 201);

    /* 字体颜色 */
    color:rgb(31, 39, 39);

    /* 背景图片 记住需要用url才能使用路径 */
    /* background-image: url("../img/IronMan-radius.png"); */


    margin:0px;
    padding:0px;
    widows: 0%;
    height:0%;
}

#myTitle {
    width:15cm;
    border:3px solid gray;
}