<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>京东(JD.COM)-正品低价 品质保证 配送及时 轻松购物！</title>

    <!-- 标签栏LOGO -->
    <link rel="icon" href="https://www.jd.com/favicon.ico">

    <link rel="stylesheet" href="..//static/css/JDMain.css">
</head>
<body>
    <div id="guide-top">
        <div class="guide-top-btn">
            <a href="">北京</a>
        </div>
        <div id="guide-top-list">
            <ul class="guide-top-btn">
                <li class="spacer"></li>
                <li><a href="">您好，请登录</a></li>
                <li class="spacer"></li>
                <li><a href="">免费注册</a></li>
                <li class="spacer"></li>
                <li><a href="">北京</a></li>
            </ul>
        </div>
    </div>

    <!-- 一般情况下把js文件放在最后 -->
    <!-- <script src="../static/js/JDMain.js"></script> -->

</body>
</html>