<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>京东(JD.COM)-正品低价 品质保证 配送及时 轻松购物！</title>

    <!-- 标签栏LOGO -->
    <link rel="icon" href="https://www.jd.com/favicon.ico">

    <link rel="stylesheet" href="..//static/css/JDMain.css">
</head>
<body>
    <div class="main-container">
        <div class="head">
            <div class="w">
                <div class="head-part1">
                    <div class="head-text-r">四川</div>
                </div>
                <div class="head-part2">
                    <ul>
                        <li><div class="head-text">您好，请登录</div></li>
                        <li><div class="head-text">免费注册</div></li>
                        <li class="spacer"></li>
                        <li><div class="head-text">我的订单</div></li>
                        <li class="spacer"></li>
                        <li><div class="head-text">我的京东</div></li>   
                        <li class="spacer"></li>
                        <li><div class="head-text">京东会员</div></li>
                        <li class="spacer"></li>
                        <li class="head-downlist">
                            <div class="head-text">企业采购</div>
                            
                            <div class="head-submenu">
                                <div class="head-subtext"><a href="">企业购</a></div>
                                <div class="head-subtext"><a href="">商用场景馆</a></div>
                                <div class="head-subtext"><a href="">工业品</a></div>
                                <div class="head-subtext"><a href="">礼品卡</a></div>
                            </div>
                        </li>
                        <li class="spacer"></li>
                        <li><div class="head-text">客户服务</div></li>
                        <li class="spacer"></li>
                        <li><div class="head-text">网站导航</div></li>
                        <li class="spacer"></li>
                        <li><div class="head-text">手机京东</div></li>
                    </ul>
                </div>               
            </div>
        </div>
    </div>

    <!-- 一般情况下把js文件放在最后 -->
    <!-- <script src="../static/js/JDMain.js"></script> -->

</body>
</html>