<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>京东(JD.COM)-正品低价 品质保证 配送及时 轻松购物！</title>

    <!-- 标签栏LOGO -->
    <link rel="icon" href="https://www.jd.com/favicon.ico">

    <link rel="stylesheet" href="..//static/css/JDMain.css">
</head>
<body>
    <div class="main-container">
        <div class="head">
            <div class="w">
                <div class="head-part1">
                    <div class="head-text-right">四川</div>
                </div>
                <div class="head-part2">
                    <ul class="head-ul">
                        <li class="head-ul-li"><a href="" class="head-link">您好，请登录</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">您好，请登录2</a></li>
                        <li class="head-ul-li">
                            <div class="downlist">
                                <a href="" class="head-link">您好，请登录3</a>
                                <ul class="menu">
                                    <li></li>
                                </ul>
                            </div>
                        </li>

                        <li class="head-ul-li"><a href="" class="head-link">您好，请登录4</a></li>

                        <!-- <li class="head-ul-li"><a href="" class="head-link">免费注册</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">我的订单</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">我的京东</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">京东会员</a></li>
                        <li class="head-ul-li ">

                            <div class="downlist">
                                <a href="" class="head-link">企业采购</a>
                                <div class="downlist-menu">
                                    <ul>
                                        <li class="downlist-choice"><a href="" class="head-link">选项1</a></li>
                                        <li class="downlist-choice"><a href="" class="head-link">选项2</a></li>
                                        <li class="downlist-choice"><a href="" class="head-link">选项3</a></li>
                                        <li class="downlist-choice"><a href="" class="head-link">选项4</a></li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li class="head-ul-li"><a href="" class="head-link">客户服务</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">网站导航</a></li>
                        <li class="head-ul-li"><a href="" class="head-link">手机京东</a></li>
                        <li class="spacer"></li> -->
                    </ul>
                </div>               
            </div>
        </div>
    </div>

    <!-- 一般情况下把js文件放在最后 -->
    <!-- <script src="../static/js/JDMain.js"></script> -->

</body>
</html>