<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- 这个viewport表示这个页面为移动设备准备 content除了width和initial还有其他 具体看文档 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http-equiv类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容。与之对应的属性值为content，content中的内容其实就是各个参数的变量值。 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Micah's HomePage 首页</title>

    <!-- 标题logo -->
    <link rel="icon" href="../static/img/IronMan-radius.png" type="image/x-icon"/>

    <link rel="stylesheet" href="../static/css/Main.css">
    
</head>

<body>
    <div id="root">
        <div id="nav-bar">
            <div id = logo>
                <a href="http://wwww.baidu.com"><img src="../static/img/Webpack32.png" alt=""></a>
                <div class ="nav-element" id="nav-bar-btn">
                    <ul>
                        <li>首页</li>
                        <li>日志</li>
                        <li>相册</li>
                    </ul>
                </div>
                <div class ="nav-element" id="search-bar">
                    搜索条
                </div>
                <div class ="nav-element" id="login-bar">
                    登录条
                </div>
            </div>
        </div>
    </div>

    

    <!-- 一般情况下把js文件放在最后，有利有弊 -->    
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>