<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 导入css文件 -->
    <link rel="stylesheet" href="../static/css/Main.css">

    <!-- 小图标 这里用的是新浪的 -->
    <link rel="shortcut icon" type="image/x-icon" href="https://weibo.com/favicon.ico">
</head>
<body>

    <!-- 各种标题 -->
    <h1>标题1</h1>
    <h2>标题2</h2>
    <h3>标题3</h3>
    <h4>标题4</h4>
    <h5>标题5</h5>
    <h6>标题6</h6>
    
    <!-- 水平线 -->
    <hr>

    <!-- 段落 -->
    <p>段落</p>

    <!-- 链接 -->
    <a href="https://www.google.com">前往Google</a>

    <!-- 图片 -->
    <img src="../static/img/IronMan-radius.png" alt="no pic">

    <!-- 表格 -->
    <table>
        <th>表格标题</th>
        <tr>
            <td>1</td>            
            <td>2</td>            
        </tr>
        <tr>
            <td>3</td>            
            <td>4</td>            
        </tr>
    </table>

    <!-- 列表 分为有序和无序两种 -->
    <ol>
        <li>有序列表1</li>
        <li>有序列表2</li>
    </ol>

    <ul>
        <li>无序列表1</li>
        <li>无序列表2</li>
    </ul>

    <!-- 区块 分为块级元素和内联元素两种 -->
    <!-- <div><a href="https://www.google.com">前往GoogleA</a></div> -->
    <!-- <a><a href="https://www.google.com">前往GoogleB</a></a> -->

    <!-- 表单 用来收集用户输入 所以下面有很多都是input标签 -->
    <form action="" method="get">
        <span>firstname:</span><input type="text" name="firstname" id="">
        <br>
        <span>password:</span><input type="password" name="password" id="">
        <br>

        <!-- 单选框 靠name属性进行分组 -->
        <input type="radio" name="sex" value="male" id="">male<br>
        <input type="radio" name="sex" value="female" id="">female<br>
        <br>        
        <input type="radio" name="age" value="80s" id="">80s<br>
        <input type="radio" name="age" value="90s" id="">90s<br>  
        
        <br>  
        <input type="checkbox" name="robbit" id="">game<br> 
        <input type="checkbox" name="robbit" id="">animation<br> 
        <input type="checkbox" name="robbit" id="">cartoon<br> 

        <input type="submit" value="Submit">
    </form>


</body>
</html>